@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;

    --card: 0 0% 10%;
    --card-foreground: 0 0% 100%;

    --popover: 0 0% 10%;
    --popover-foreground: 0 0% 100%;

    --primary: 160 64% 52%;
    --primary-foreground: 0 0% 0%;

    --secondary: 240 10% 3.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 10% 3.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 160 64% 52%;
    --accent-foreground: 0 0% 0%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 10% 20%;
    --input: 240 10% 20%;
    --ring: 160 64% 52%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
